
<div class="reqList">

<h3>Requêtes {{requeteResults.0.category}}</h3>

<div class="container">

<ul class="row">
  {{#each requeteResults}}
  <li class="col-lg-4 col-md-6">
    <img src="{{this.img}}" alt="Requête photo">reqList
    <h3>{{this.title}}</h3>
    <p>{{this.goal}}</p>
    <a href="/requete-detail/{{this._id}}">Voir la requête</a>


  </li>
  {{/each}}
</ul>

</div>

<a href="/nouvelle-requete"><button class="btn btn-primary">Créer une requête</button></a>

</div>