<h2>Requête </h2>

<ul>
  <li>
    <h4>{{reqDoc.category}}</h4>
    <h3>{{reqDoc.title}}</h3>
    <br>
    <p>{{reqDoc.goal}}</p>
    <br>
    <p>{{reqDoc.description}}</p>
    <br>
    <p>{{reqDoc.place}}</p>
    <br>
    <img src="{{reqDoc.img}}" alt="Requête photo">
  </li>
</ul>
<a href="/requete-categorie">Retour aux requêtes</a>