<h3>Mon Doux Compte</h3>

<hr>

<div class="user-info">
  <p>Bienvenue <b>{{userDoc.pseudo}}</b> !</p>
  <div><img src="{{userDoc.profileImg}}" alt=""></div>
  <br>
  <b>{{userDoc.firstName}}</b> , <b>{{userDoc.lastName}}</b>
</div>




  <h4>Mes requêtes</h4>
     <div class="user-req"> 
        <h3>{{reqUser.title}}</h3>
        <br>
        <p>{{reqUser.goal}}</p>
        <br>
        <img src="{{reqUser.img}}" alt="Requête photo">
        <br>
        <a href="/requete-detail/{{reqUser._id}}">Voir la requête</a>
        <br>
      <a href="/nouvelle-requete">Créer une requête</a>
    </div>

  


