<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header>
    <h1>{{title}}</h1>

    <nav>
      <a href="/">Accueil</a>
      <br>
      <a href="/incivilites-categorie">Douces incivilités</a>
      <br>
      <a href="/requete-categorie">Douces requêtes</a>
      <br>
      {{#if loggedUser}}
      <b>{{loggedUser.pseudo}}</b>
      <br>
      <a href="/mon-compte/:userId">Mon compte</a>
      <br>
      <a href="/deconnexion">Déconnextion</a>

      {{else}}
      <a href="/identification">Doux compte</a>
      {{/if}}
    </nav>
  </header>

  {{{body}}}

  <footer>
    <ul>
      <li><a href="/legal-terms">Mentions Légales</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </footer>


  <script src="/javascripts/script.js"></script>
</body>

</html>