<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous" />



  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header>
    <h1>{{title}}</h1>

    <nav>
      <a href="/">Accueil</a>
      <br>
      <a href="/a-propos-de-vous">À propos de vous</a>
      <br>
      <a href="/incivilites-categorie">Douces incivilités</a>
      <br>
      <a href="/requete-categorie">Douces requêtes</a>

      <br>
      {{#if loggedUser}}
      <b>{{loggedUser.pseudo}}</b>
      <br>
      <a href="/mon-compte/{{loggedUser._id}}">Mon profile</a>
      <br>
      <a href="/deconnexion">Déconnextion</a>

      {{else}}
      <a href="/identification">Mon compte</a>
      {{/if}}
    </nav>
  </header>

  {{{body}}}

  <footer>
    <ul>
      <li><a href="/mentions-legales">Mentions Légales</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <ul>
      <li><a href="https://www.instagram.com/">instagram</a></li>
      <li><a href="https://twitter.com/">Twitter</a></li>
      <li><a href="https://fr-fr.facebook.com/">Facebook</a></li>
    </ul>


  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script src="/javascripts/script.js"></script>
</body>

</html>