<div class="container ">
  {{!-- <div class="row d-flex flex-wrap justify-content-center"></div> --}}

  <h2 class="mt-4 p-2 text-center">{{incivilityArray.[0].category}}</h2>

  <ul>
    {{#each incivilityArray}}
    <li>
      <article class="pt-2 text-center">
        <h3 class="m-auto p-1">{{this.name}}</h3>
        <p class="text-justify">{{this.description}}</p>
      </article>

        <aside class="text-center">
          <h4>Les recours législatifs</h4>
          <p>{{this.law}}</p>
        </aside>
    
      <h3 class="p-1 text-center mt-20">Les ressources solidaires</h3>


<div class="row">
      {{#each this.associations}}
      <div class="col-lg-3 col-md-6">
        <a class="card-assos-link my-2 mx-0 p-0 border-0" target="_blank" href="{{this.url}}">
          <img class="card-img-top-assos p-0 " src="{{this.img}}" alt="logo d'association">
          <div class="card-body-assos"> <br>
          <h7 class="card-text-assos text-center p-2">{{this.name}}</h4><br>
          </div>     
        </a>
      </div>
        
      {{/each}} {{!-- end each assos--}}

</div>

    </li>{{!-- end li--}}
    {{/each}} {{!-- end each incivilityArray--}}
  </ul>

</div> {{!-- end row--}}
</div> {{!-- end container-fluid --}}






{{!--

const incivilitySchema = new Schema(
{
name: { type: String, required: true },
urlName: { type: String },

//category: ["protection", "environnement", "tranquilite", "dignite"],
category: { type: String },

urlCategory: { type: String },

icon: { type: String, default: URL }, // ? URL ?
description: { type: String, required: true },
law: { type: String, required: true },
associations: [
{ name: { type: String }, img: { type: "String" }, url: { type: String } }
]
}, --}}