<div class="container-fluid ">
  <div class="row d-flex flex-wrap justify-content-center"></div>

  <h2 class="mt-4 p-2 text-center col-xl-8 col-lg-8">{{incivilityArray.[0].category}}</h2>

  <ul class="row">
    {{#each incivilityArray}}
    <li class="col-xl-10 col-lg-10">
      <article class="pt-2 text-center">
        <h3 class="m-auto p-1 col-xl-6 col-lg-6">{{this.name}}</h3>
        <p class="text-justify">{{this.description}}</p>
      </article>

      <div class="row">
        <aside class="law col-xl-6 col-lg-6">
          <h4>Les recours législatifs</h4>
          <p>{{this.law}}</p>
        </aside>
      </div>
    
      <h3 class="m-auto p-1 col-xl-6 col-lg-6">Les ressources solidaires</h3>

      {{#each this.associations}}
      <div class="row">
        <a class="card-assos-link my-2 mx-0 p-0 col-xl-3 col-lg-3 col-md-6 border-0 d-flex" target="_blank" href="{{this.url}}">
          <img class="card-img-top-assos p-0 col-xl- col-lg- col-md- col-sm" src="{{this.img}}" alt="logo d'association">
          <div class="card-body-assos d-flex justify-content-center flex-sm-fill flex-md-fill flex-lg-fill flex-xl-fill">
          <h4 class="card-text-assos text-center p-2">{{this.name}}</h4>
          </div>     
        </a>
      </div>
        
      {{/each}} {{!-- end each assos--}}
    </li>{{!-- end li--}}
    {{/each}} {{!-- end each incivilityArray--}}
  </ul>

</div> {{!-- end row--}}
</div> {{!-- end container-fluid --}}






{{!--

const incivilitySchema = new Schema(
{
name: { type: String, required: true },
urlName: { type: String },

//category: ["protection", "environnement", "tranquilite", "dignite"],
category: { type: String },

urlCategory: { type: String },

icon: { type: String, default: URL }, // ? URL ?
description: { type: String, required: true },
law: { type: String, required: true },
associations: [
{ name: { type: String }, img: { type: "String" }, url: { type: String } }
]
}, --}}